# 基础环境

In [1]:
import platform

print(' '.join(platform.linux_distribution()))
print('Python version:', platform.python_version())

Ubuntu 18.04 bionic
Python version: 3.6.9

In [2]:
import numpy as np

print('NumPy version:', np.__version__)

NumPy version: 1.17.5

In [3]:
!/opt/bin/nvidia-smi

Sat Feb  8 14:24:27 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 418.67       Driver Version: 418.67       CUDA Version: 10.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   36C    P8     9W /  70W |      0MiB / 15079MiB |      0%      Default |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                       GPU Memory |
|  GPU       PID   Type   Process name                             Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In [0]:
import builtins as __builtin__

def print(*args, **kwargs):
    return __builtin__.print(sep='', end='\n\n', *args, **kwargs)

In [0]:
def namestr(obj, namespace):
    return [name for name in namespace if namespace[name] is obj]

# 数据类型 数组基础

In [6]:
a1 = np.random.randint(100, size=10)
a2 = np.random.randint(100, size=(4, 6))
a3 = np.random.randint(100, size=(2, 5, 6))

for a in [a1, a2, a3]:
    print(sorted(namestr(a, globals()))[-1], ' = \n', a)
    print(f"dtype={a.dtype}, ndim={a.ndim}, shape={a.shape}, "
          f"size={a.size}, itemsize={a.itemsize}, nbytes={a.nbytes}\n")

a1 =
[35 46 18 43 64 88 70 56 69 97]

dtype=int64, ndim=1, shape=(10,), size=10, itemsize=8, nbytes=80


a2 =
[[99 43 96 16 17 79]
 [29 22 55  2 97 63]
 [71 87 37 37 79 52]
 [90 51 40 30 21 22]]

dtype=int64, ndim=2, shape=(4, 6), size=24, itemsize=8, nbytes=192


a3 =
[[[88 16 20 16 70 14]
  [27 95 18 81 56 60]
  [79 96 60 31 16 27]
  [27 64 45 43  6 38]
  [60  2 74 27  2 85]]

 [[87 24 83 98 29 40]
  [81 49 90 92 53 89]
  [88 33 18 12 53 49]
  [37 59 86 74  3 29]
  [60 33 77 56 30 83]]]

dtype=int64, ndim=3, shape=(2, 5, 6), size=60, itemsize=8, nbytes=480

In [7]:
b1 = np.empty(4)
b2 = np.zeros(10)
b3 = np.ones(10)
b4 = np.arange(1, 11)
b5 = np.arange(11, 21)

for b in [b1, b2, b3, b4]:
    print(sorted(namestr(b, globals()))[-1], ' = ', b)

b1 = [5.e-324 5.e-324 5.e-324 0.e+000]

b2 = [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

b3 = [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

b4 = [ 1  2  3  4  5  6  7  8  9 10]

In [8]:
print('a1 = ', a1)
print('a1[1]  = ', a1[1])
print('a1[-1] = ', a1[-1])

print('a2 = \n', a2)
print('a2[1]     = ', a2[1])
print('a2[-1]    = ', a2[-1])
print('a2[-1, :] = ', a2[-1, :])
print('a2[:, 1]  = ', a2[:, 1])
print('a2[-1, 3] = ', a2[-1, 3])

a1 = [35 46 18 43 64 88 70 56 69 97]

a1[1]  = 46

a1[-1] = 97

a2 =
[[99 43 96 16 17 79]
 [29 22 55  2 97 63]
 [71 87 37 37 79 52]
 [90 51 40 30 21 22]]

a2[1]     = [29 22 55  2 97 63]

a2[-1]    = [90 51 40 30 21 22]

a2[-1, :] = [90 51 40 30 21 22]

a2[:, 1]  = [43 22 87 51]

a2[-1, 3] = 30

In [9]:
print('b5   = ', b5)
print('b5[2:]     = ', b5[2:])
print('b5[2:5]    = ', b5[2:5])
print('b5[2:5:2]  = ', b5[2:5:2])
print('b5[2::2]   = ', b5[2::2])
print('b5[:-5:-1] = ', b5[:-5:-1])

print('a2 = \n', a2)
print('a2[1:3, 1:3] = \n', a2[1:3, 1:3])
print('a2[::-1, 1] = \n', a2[::-1, 1])
print('a2[::-1, ::-1] = \n', a2[::-1, ::-1])

b5   = [11 12 13 14 15 16 17 18 19 20]

b5[2:]     = [13 14 15 16 17 18 19 20]

b5[2:5]    = [13 14 15]

b5[2:5:2]  = [13 15]

b5[2::2]   = [13 15 17 19]

b5[:-5:-1] = [20 19 18 17]

a2 =
[[99 43 96 16 17 79]
 [29 22 55  2 97 63]
 [71 87 37 37 79 52]
 [90 51 40 30 21 22]]

a2[1:3, 1:3] =
[[22 55]
 [87 37]]

a2[::-1, 1] =
[51 87 22 43]

a2[::-1, ::-1] =
[[22 21 30 40 51 90]
 [52 79 37 37 87 71]
 [63 97  2 55 22 29]
 [79 17 16 96 43 99]]

In [10]:
b5a = b5[::-1]
b5b = b5a[:5].copy()

for b in [b5a, b5b]:
    print(sorted(namestr(b, globals()))[-1], ' = ', b)

b5a[3] = 7
b5b[2] = 8

for b in [b5a, b5b, b5]:
    print(sorted(namestr(b, globals()))[-1], ' = ', b)

b5a = [20 19 18 17 16 15 14 13 12 11]

b5b = [20 19 18 17 16]

b5a = [20 19 18  7 16 15 14 13 12 11]

b5b = [20 19  8 17 16]

b5 = [11 12 13 14 15 16  7 18 19 20]

In [11]:
print('b4 = \n', b4)

b4 = b4.reshape(2, 5)
print('b4 = \n', b4)

b4 = b4.flatten()

b4a = b4[np.newaxis, :]
b4b = b4[:, np.newaxis]

for b in [b4, b4a, b4b]:
    print(sorted(namestr(b, globals()))[-1], ' =   ', 
          b.shape, '\n', b)

b4 =
[ 1  2  3  4  5  6  7  8  9 10]

b4 =
[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

b4 =   (10,)
[ 1  2  3  4  5  6  7  8  9 10]

b4a =   (1, 10)
[[ 1  2  3  4  5  6  7  8  9 10]]

b4b =   (10, 1)
[[ 1]
 [ 2]
 [ 3]
 [ 4]
 [ 5]
 [ 6]
 [ 7]
 [ 8]
 [ 9]
 [10]]

In [12]:
c1 = np.arange(10)
c2 = np.arange(5, 10)

c3 = np.concatenate([c1, c2])
c4 = np.concatenate([c1, c3, c2])

c5 = np.concatenate([c1.reshape(2, 5), c2[np.newaxis]])  # axis=0)
c6 = np.concatenate([c1.reshape(5, 2), c2[:, np.newaxis]], axis=1)

c7 = np.vstack([c1.reshape(2, 5), c2[np.newaxis, :]])
c8 = np.hstack([c1.reshape(5, 2), c2[:, np.newaxis]])

for c in [c1, c2, c3, c4]:
    print(sorted(namestr(c, globals()))[-1], ' = ', c)

for c in [c5, c6, c7, c8]:
    print(sorted(namestr(c, globals()))[-1], ' = \n', c)

c1 = [0 1 2 3 4 5 6 7 8 9]

c2 = [5 6 7 8 9]

c3 = [0 1 2 3 4 5 6 7 8 9 5 6 7 8 9]

c4 = [0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 5 6 7 8 9 5 6 7 8 9]

c5 =
[[0 1 2 3 4]
 [5 6 7 8 9]
 [5 6 7 8 9]]

c6 =
[[0 1 5]
 [2 3 6]
 [4 5 7]
 [6 7 8]
 [8 9 9]]

c7 =
[[0 1 2 3 4]
 [5 6 7 8 9]
 [5 6 7 8 9]]

c8 =
[[0 1 5]
 [2 3 6]
 [4 5 7]
 [6 7 8]
 [8 9 9]]

In [13]:
d1 = np.arange(54).reshape(6, 9)

d2, d3 = np.split(d1, [2])
d4, d5, d6 = np.split(d1, [2, 4])

d7, d8 = np.split(d1, [4], axis=1)

for d in [d1, d2, d3, d4, d5, d6, d7, d8]:
    print(sorted(namestr(d, globals()))[-1], ' = \n', d)

d1 =
[[ 0  1  2  3  4  5  6  7  8]
 [ 9 10 11 12 13 14 15 16 17]
 [18 19 20 21 22 23 24 25 26]
 [27 28 29 30 31 32 33 34 35]
 [36 37 38 39 40 41 42 43 44]
 [45 46 47 48 49 50 51 52 53]]

d2 =
[[ 0  1  2  3  4  5  6  7  8]
 [ 9 10 11 12 13 14 15 16 17]]

d3 =
[[18 19 20 21 22 23 24 25 26]
 [27 28 29 30 31 32 33 34 35]
 [36 37 38 39 40 41 42 43 44]
 [45 46 47 48 49 50 51 52 53]]

d4 =
[[ 0  1  2  3  4  5  6  7  8]
 [ 9 10 11 12 13 14 15 16 17]]

d5 =
[[18 19 20 21 22 23 24 25 26]
 [27 28 29 30 31 32 33 34 35]]

d6 =
[[36 37 38 39 40 41 42 43 44]
 [45 46 47 48 49 50 51 52 53]]

d7 =
[[ 0  1  2  3]
 [ 9 10 11 12]
 [18 19 20 21]
 [27 28 29 30]
 [36 37 38 39]
 [45 46 47 48]]

d8 =
[[ 4  5  6  7  8]
 [13 14 15 16 17]
 [22 23 24 25 26]
 [31 32 33 34 35]
 [40 41 42 43 44]
 [49 50 51 52 53]]

In [14]:
d9, d10, d11 = np.vsplit(d1, [2, 4])
d12, d13 = np.hsplit(d1, [4])

for d in [d1, d9, d10, d11, d12, d13]:
    print(sorted(namestr(d, globals()))[-1], ' = \n', d)

d1 =
[[ 0  1  2  3  4  5  6  7  8]
 [ 9 10 11 12 13 14 15 16 17]
 [18 19 20 21 22 23 24 25 26]
 [27 28 29 30 31 32 33 34 35]
 [36 37 38 39 40 41 42 43 44]
 [45 46 47 48 49 50 51 52 53]]

d9 =
[[ 0  1  2  3  4  5  6  7  8]
 [ 9 10 11 12 13 14 15 16 17]]

d10 =
[[18 19 20 21 22 23 24 25 26]
 [27 28 29 30 31 32 33 34 35]]

d11 =
[[36 37 38 39 40 41 42 43 44]
 [45 46 47 48 49 50 51 52 53]]

d12 =
[[ 0  1  2  3]
 [ 9 10 11 12]
 [18 19 20 21]
 [27 28 29 30]
 [36 37 38 39]
 [45 46 47 48]]

d13 =
[[ 4  5  6  7  8]
 [13 14 15 16 17]
 [22 23 24 25 26]
 [31 32 33 34 35]
 [40 41 42 43 44]
 [49 50 51 52 53]]

# 通用函数数组运算

In [15]:
e1 = np.arange(20).reshape(4, 5)

print('e1 = \n', e1)
print('e1 + 3 = \n', e1 + 3)
print('e1 * 2 = \n', e1 * 2)
print('e1 / 2 = \n', e1 / 2)
print('e1 // 2 = \n', e1 // 2)
print('e1 ** 2 = \n', e1 ** 2)
print('- e1 = \n', - e1)
print('e1 % 3 = \n', e1 % 3)

e1 =
[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]]

e1 + 3 =
[[ 3  4  5  6  7]
 [ 8  9 10 11 12]
 [13 14 15 16 17]
 [18 19 20 21 22]]

e1 * 2 =
[[ 0  2  4  6  8]
 [10 12 14 16 18]
 [20 22 24 26 28]
 [30 32 34 36 38]]

e1 / 2 =
[[0.  0.5 1.  1.5 2. ]
 [2.5 3.  3.5 4.  4.5]
 [5.  5.5 6.  6.5 7. ]
 [7.5 8.  8.5 9.  9.5]]

e1 // 2 =
[[0 0 1 1 2]
 [2 3 3 4 4]
 [5 5 6 6 7]
 [7 8 8 9 9]]

e1 ** 2 =
[[  0   1   4   9  16]
 [ 25  36  49  64  81]
 [100 121 144 169 196]
 [225 256 289 324 361]]

- e1 =
[[  0  -1  -2  -3  -4]
 [ -5  -6  -7  -8  -9]
 [-10 -11 -12 -13 -14]
 [-15 -16 -17 -18 -19]]

e1 % 3 =
[[0 1 2 0 1]
 [2 0 1 2 0]
 [1 2 0 1 2]
 [0 1 2 0 1]]

In [16]:
e2 = np.arange(-4, 4)
e3 = np.array([2 + 3j, 3 - 4j, -4 + 5j])

print('e2 = ', e2)
print('e3 = ', e3)
print('abs(e2) = ', abs(e2))
print('abs(e3) = ', abs(e3))

e2 = [-4 -3 -2 -1  0  1  2  3]

e3 = [ 2.+3.j  3.-4.j -4.+5.j]

abs(e2) = [4 3 2 1 0 1 2 3]

abs(e3) = [3.60555128 5.         6.40312424]

In [17]:
e4 = np.linspace(0, np.pi, 5)[:4]

print('e4      = ', e4)
print('sin(e4) = ', np.sin(e4))
print('cos(e4) = ', np.cos(e4))
print('tan(e4) = ', np.tan(e4))
print('atg(e4) = ', np.arctan(e4))

e4      = [0.         0.78539816 1.57079633 2.35619449]

sin(e4) = [0.         0.70710678 1.         0.70710678]

cos(e4) = [ 1.00000000e+00  7.07106781e-01  6.12323400e-17 -7.07106781e-01]

tan(e4) = [ 0.00000000e+00  1.00000000e+00  1.63312394e+16 -1.00000000e+00]

atg(e4) = [0.         0.66577375 1.00388482 1.16942282]

In [18]:
print('e1 = \n', e1)
print(f'e1 <= 10   < {np.count_nonzero(e1 <= 10)} >\n', e1 <= 10)
print(f'e1 == 10   < {np.count_nonzero(e1 == 10)} >\n', e1 == 10)
print(np.any(e1 > 20), ', ', np.any(e1 > 10), ', ', np.all(e1 > 10))

e1 =
[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]]

e1 <= 10   < 11 >
[[ True  True  True  True  True]
 [ True  True  True  True  True]
 [ True False False False False]
 [False False False False False]]

e1 == 10   < 1 >
[[False False False False False]
 [False False False False False]
 [ True False False False False]
 [False False False False False]]

False, True, False

In [19]:
e5 = np.arange(10)
print('e5 = ', e5)

print(f'AND  e5 & 3 (0b11)\n', e5 & 3)
print(f'OR   e5 | 3 (0b11)\n', e5 | 3)
print(f'XOR  e5 ^ 3 (0b11)\n', e5 ^ 3)
print(f'NOT  ~ e5\n', ~ e5)

print(f'e1 % 3 == 0 | e1 % 5 == 0\n', (e1 % 3 == 0) | (e1 % 5 == 0))

e5 = [0 1 2 3 4 5 6 7 8 9]

AND  e5 & 3 (0b11)
[0 1 2 3 0 1 2 3 0 1]

OR   e5 | 3 (0b11)
[ 3  3  3  3  7  7  7  7 11 11]

XOR  e5 ^ 3 (0b11)
[ 3  2  1  0  7  6  5  4 11 10]

NOT  ~ e5
[ -1  -2  -3  -4  -5  -6  -7  -8  -9 -10]

e1 % 3 == 0 | e1 % 5 == 0
[[ True False False  True False]
 [ True  True False False  True]
 [ True False  True False False]
 [ True False False  True False]]

In [20]:
e6 = e1[e1 % 4 == 0]

print(f'e1 =   {e1.shape}\n', e1)
print(f'e6 =   {e6.shape}\n', e6)

e1 =   (4, 5)
[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]]

e6 =   (5,)
[ 0  4  8 12 16]

In [21]:
f1 = np.arange(1, 7)
f2 = np.zeros(12)
f3 = np.empty(6)
f4 = np.multiply(f1, 3, out=f2[::2])
f5 = np.bitwise_and(f1, 3, out=f3)

for f in [f1, f2, f3, f4, f5]:
    print(sorted(namestr(f, globals()))[-1], ' = ', f)

f1 = [1 2 3 4 5 6]

f2 = [ 3.  0.  6.  0.  9.  0. 12.  0. 15.  0. 18.  0.]

f5 = [1. 2. 3. 0. 1. 2.]

f4 = [ 3.  6.  9. 12. 15. 18.]

f5 = [1. 2. 3. 0. 1. 2.]

In [22]:
f6 = np.arange(1, 5)
f7 = np.arange(5, 10)

f8 = np.multiply.outer(f6, f7)

for f in [f6, f7, f8]:
    print(sorted(namestr(f, globals()))[-1], ' = \n', f)

f6 =
[1 2 3 4]

f7 =
[5 6 7 8 9]

f8 =
[[ 5  6  7  8  9]
 [10 12 14 16 18]
 [15 18 21 24 27]
 [20 24 28 32 36]]

# 聚合 广播规则

In [23]:
g1 = np.arange(11)

print('g1 = ', g1)

print(', '.join(str(x) for x in [g1.sum(), g1.prod(), g1.mean(), g1.std(), g1.var()]))
print(', '.join(str(x) for x in [g1.max(), g1.min(), g1.argmax(), g1.argmin(), g1.any(), g1.all()]))

print(', '.join(str(x) for x in [np.nansum(g1), np.nanmedian(g1), np.nanstd(g1), np.nanargmax(g1)]))

g2 = np.add.reduce(g1)
g3 = np.add.accumulate(g1)

for g in [g1, g2, g3]:
    print(sorted(namestr(g, globals()))[-1], ' = ', g)

g1 = [ 0  1  2  3  4  5  6  7  8  9 10]

55, 0, 5.0, 3.1622776601683795, 10.0

10, 0, 10, 0, True, False

55, 5.0, 3.1622776601683795, 10

g1 = [ 0  1  2  3  4  5  6  7  8  9 10]

g2 = 55

g3 = [ 0  1  3  6 10 15 21 28 36 45 55]

In [24]:
g4 = np.arange(50).reshape(5, 10)

print('g4 = \n', g4)
print('g4.max() = ', g4.max())
print('g4.max(axis=1) = ', g4.max(axis=1))
print('g4.sum(axis=0) = ', g4.sum(axis=0))

g4 =
[[ 0  1  2  3  4  5  6  7  8  9]
 [10 11 12 13 14 15 16 17 18 19]
 [20 21 22 23 24 25 26 27 28 29]
 [30 31 32 33 34 35 36 37 38 39]
 [40 41 42 43 44 45 46 47 48 49]]

g4.max() = 49

g4.max(axis=1) = [ 9 19 29 39 49]

g4.sum(axis=0) = [100 105 110 115 120 125 130 135 140 145]

In [25]:
h1 = np.zeros(5)
h2 = h1 + 4
h3 = np.arange(15).reshape(3, 5)
h4 = h2 + h3
h5 = np.arange(5)
h6 = np.arange(2, 7, 2)[:, None]
h7 = h5 + h6

for h in [h1, h2, h3, h4, h5, h6, h7]:
    print(sorted(namestr(h, globals()))[-1], ' = \n', h)

h1 =
[0. 0. 0. 0. 0.]

h2 =
[4. 4. 4. 4. 4.]

h3 =
[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]]

h4 =
[[ 4.  5.  6.  7.  8.]
 [ 9. 10. 11. 12. 13.]
 [14. 15. 16. 17. 18.]]

h5 =
[0 1 2 3 4]

h6 =
[[2]
 [4]
 [6]]

h7 =
[[ 2  3  4  5  6]
 [ 4  5  6  7  8]
 [ 6  7  8  9 10]]

# 花哨的索引 数组的排序 结构化数组

In [26]:
i1 = np.arange(2, 15)

i2 = i1[[2, 7, 5, 10, 3, 4]]
i3 = i1[i2.reshape(2, 3)]

for i in [i1, i2, i3]:
    print(sorted(namestr(i, globals()))[-1], ' = \n', i)

i1 =
[ 2  3  4  5  6  7  8  9 10 11 12 13 14]

i2 =
[ 4  9  7 12  5  6]

i3 =
[[ 6 11  9]
 [14  7  8]]

In [27]:
i2[[1, 3]] = -1

for i in [i1, i2, i3]:
    print(sorted(namestr(i, globals()))[-1], ' = \n', i)

i1 =
[ 2  3  4  5  6  7  8  9 10 11 12 13 14]

i2 =
[ 4 -1  7 -1  5  6]

i3 =
[[ 6 11  9]
 [14  7  8]]

In [28]:
i4 = np.arange(40).reshape(4, 10)
i5r = np.array([0, 3, 1, 2])
i5c = np.array([3, 3, 6, 7])
i5 = i4[i5r, i5c]
i6 = i4[2, [3, 8, 5]]
i7 = i4[:2, [3, 8, 5]]
i8x = np.array([0, 0, 0, 1, 0, 0, 0, 0, 1, 0], dtype=bool)
i8 = i4[[1, 3], i8x]

for i in [i4, i5, i6, i7, i8]:
    print(sorted(namestr(i, globals()))[-1], ' = \n', i)

i4 =
[[ 0  1  2  3  4  5  6  7  8  9]
 [10 11 12 13 14 15 16 17 18 19]
 [20 21 22 23 24 25 26 27 28 29]
 [30 31 32 33 34 35 36 37 38 39]]

i5 =
[ 3 33 16 27]

i6 =
[23 28 25]

i7 =
[[ 3  8  5]
 [13 18 15]]

i8 =
[13 38]

In [29]:
j1 = np.random.randint(100, size=(4, 6))

j2 = np.sort(j1)
j3 = np.sort(j1, axis=0)
j4 = np.argsort(j1)

for j in [j1, j2, j3, j4]:
    print(sorted(namestr(j, globals()))[-1], ' = \n', j)

j1 =
[[19 95 86  1 17 66]
 [69 14 21 97 45 32]
 [39 27 72 12 81 38]
 [42 65  0  5 43 22]]

j2 =
[[ 1 17 19 66 86 95]
 [14 21 32 45 69 97]
 [12 27 38 39 72 81]
 [ 0  5 22 42 43 65]]

j3 =
[[19 14  0  1 17 22]
 [39 27 21  5 43 32]
 [42 65 72 12 45 38]
 [69 95 86 97 81 66]]

j4 =
[[3 4 0 5 2 1]
 [1 2 5 4 0 3]
 [3 1 5 0 2 4]
 [2 3 5 0 4 1]]

In [30]:
j5 = np.partition(j1, 3)

j1.sort()

for j in [j1, j5]:
    print(sorted(namestr(j, globals()))[-1], ' = \n', j)

j1 =
[[ 1 17 19 66 86 95]
 [14 21 32 45 69 97]
 [12 27 38 39 72 81]
 [ 0  5 22 42 43 65]]

j5 =
[[ 1 19 17 66 95 86]
 [14 21 32 45 69 97]
 [12 38 27 39 81 72]
 [ 5  0 22 42 43 65]]

In [31]:
k1 = np.zeros(3, dtype={'names': ('name', 'age', 'height'),
                        'formats': ('U10', 'i4', 'f8')})

k1['name'] = ['Liam', 'Max', 'Hank']
k1['age'] = 22
k1['height'] = [188.8, 195, 177.7]

print('k1 = ', k1)
print('k1.dtype = ', k1.dtype)

print('k1 = ', k1)
print("k1[k1['height'] < 190] = ", k1[k1['height'] < 190])

k1 = [('Liam', 22, 188.8) ('Max', 22, 195. ) ('Hank', 22, 177.7)]

k1.dtype = [('name', '<U10'), ('age', '<i4'), ('height', '<f8')]

k1 = [('Liam', 22, 188.8) ('Max', 22, 195. ) ('Hank', 22, 177.7)]

k1[k1['height'] < 190] = [('Liam', 22, 188.8) ('Hank', 22, 177.7)]

In [32]:
k2x = np.dtype([('id', 'i8'), ('mat', 'f8', (4, 4))])

k2 = np.zeros(2, k2x)

print('k2 = \n', k2)
print('k2[0] = \n', k2[0])
print('k2.dtype = ', k2.dtype)

k2 =
[(0, [[0., 0., 0., 0.], [0., 0., 0., 0.], [0., 0., 0., 0.], [0., 0., 0., 0.]])
 (0, [[0., 0., 0., 0.], [0., 0., 0., 0.], [0., 0., 0., 0.], [0., 0., 0., 0.]])]

k2[0] =
(0, [[0., 0., 0., 0.], [0., 0., 0., 0.], [0., 0., 0., 0.], [0., 0., 0., 0.]])

k2.dtype = [('id', '<i8'), ('mat', '<f8', (4, 4))]