# 基础环境

In [1]:
import datetime, pytz

timezone = pytz.timezone('Asia/Hong_Kong')
now = datetime.datetime.now(tz=timezone)
print(now.isoformat())

2020-02-09T05:25:13.544010+08:00

In [2]:
import platform

print(' '.join(platform.linux_distribution()))
print('Python version:', platform.python_version())

Ubuntu 18.04 bionic
Python version: 3.6.9

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns

print('Numpy   version:', np.__version__)
print('Pandas  version:', pd.__version__)
print('Seaborn version:', sns.__version__)

Numpy   version: 1.17.5
Pandas  version: 0.25.3
Seaborn version: 0.10.0

In [4]:
!/opt/bin/nvidia-smi

Sat Feb  8 21:25:18 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 418.67       Driver Version: 418.67       CUDA Version: 10.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   40C    P8     9W /  70W |      0MiB / 15079MiB |      0%      Default |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                       GPU Memory |
|  GPU       PID   Type   Process name                             Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In [0]:
import builtins as __builtin__

def print(*args, **kwargs):
    return __builtin__.print(sep='', end='\n\n', *args, **kwargs)

# Series DataFrame Index

In [6]:
a1 = pd.Series([5, 6, 7, 8])

print('a1 = \n', a1)
print('a1.values = ', a1.values, 
      '              ', type(a1.values))
print('a1.index  = ', a1.index, 
      '\n            ', type(a1.index))

a1 =
0    5
1    6
2    7
3    8
dtype: int64

a1.values = [5 6 7 8]              <class 'numpy.ndarray'>

a1.index  = RangeIndex(start=0, stop=4, step=1)
            <class 'pandas.core.indexes.range.RangeIndex'>

In [7]:
a2 = pd.Series([5, 6, 7, 8], index=[9, 8, 7, 6])

print('a2 = \n', a2)
print('a2.values = ', a2.values)
print('a2.index  = ', a2.index)

a2 =
9    5
8    6
7    7
6    8
dtype: int64

a2.values = [5 6 7 8]

a2.index  = Int64Index([9, 8, 7, 6], dtype='int64')

In [8]:
a3d = {'a': 65, 'b': 66, 'c': 67}
a3 = pd.Series(a3d)

print('a3 = \n', a3)
print('a3.values = ', a3.values)
print('a3.index  = ', a3.index)

a3 =
a    65
b    66
c    67
dtype: int64

a3.values = [65 66 67]

a3.index  = Index(['a', 'b', 'c'], dtype='object')

In [9]:
a4d = {1: 'a', 3: 'b', 5: 'c', 2: 'd', 4: 'e'}
a4 = pd.Series(a4d, index=[1, 4, 5])

print('a4 = \n', a4)
print('a4.values = ', a4.values)
print('a4.index  = ', a4.index)

a4 =
1    a
4    e
5    c
dtype: object

a4.values = ['a' 'e' 'c']

a4.index  = Int64Index([1, 4, 5], dtype='int64')

In [10]:
a5 = pd.Series([11, 22, 33, 44, 55], 
               index=[2, 3, 4, 5, 6])

print('a5 = \n', a5)
print('a5[3] = ', a5[3])
print('a5[:3] = \n', a5[:3])
print('a5[:9] = \n', a5[:9])

a5 =
2    11
3    22
4    33
5    44
6    55
dtype: int64

a5[3] = 22

a5[:3] =
2    11
3    22
4    33
dtype: int64

a5[:9] =
2    11
3    22
4    33
5    44
6    55
dtype: int64

In [11]:
a6 = pd.Series([11, 22, 33, 44, 55], 
               index=[1, 9, 5, 6, 3])

print('a6 = \n', a6)
print('a6[3] = ', a6[3])
print('a6[1:3] = \n', a6[1:3])

a6 =
1    11
9    22
5    33
6    44
3    55
dtype: int64

a6[3] = 55

a6[1:3] =
9    22
5    33
dtype: int64

In [12]:
a7d = {'a': 65, 'b': 66, 'd': 68, 'c': 67}
a7 = pd.Series(a7d)

print('a7 = \n', a7)
print("a7['c'] = ", a7['c'])
print("a7['b':'c'] = \n", a7['b':'c'])

a7 =
a    65
b    66
d    68
c    67
dtype: int64

a7['c'] = 67

a7['b':'c'] =
b    66
d    68
c    67
dtype: int64

In [13]:
a8 = pd.Series([10, 11, 12, 13, 14], 
               index=[2, 3, 4, 5, 6])

print('a8 = \n', a8)

print('a8.loc[3]  = ', a8.loc[3])
print('a8.iloc[3] = ', a8.iloc[3])

print('a8.loc[2:4] = \n', a8.loc[2:4])
print('a8.iloc[2:4] = \n', a8.iloc[2:4])

a8 =
2    10
3    11
4    12
5    13
6    14
dtype: int64

a8.loc[3]  = 11

a8.iloc[3] = 13

a8.loc[2:4] =
2    10
3    11
4    12
dtype: int64

a8.iloc[2:4] =
4    12
5    13
dtype: int64

In [14]:
b1s = pd.Series([11, 22, 33, 44, 55], 
                index=[1, 9, 5, 6, 3])

b1 = pd.DataFrame(b1s, columns=['numbers'])
print('b1 = \n', b1)

b1 =
   numbers
1       11
9       22
5       33
6       44
3       55

In [15]:
b2d = [{'a': 2, 'b': 8}, 
       {'c': 4, 'b': 1}, 
       {'a': 2, 'd': 8}]

b2 = pd.DataFrame(b2d)
print('b2 = \n', b2)

b2 =
     a    b    c    d
0  2.0  8.0  NaN  NaN
1  NaN  1.0  4.0  NaN
2  2.0  NaN  NaN  8.0

In [16]:
b3a = pd.Series([1, 3, 5], index=[1, 3, 4])
b3b = pd.Series([2, 4, 6], index=[1, 4, 6])

b3 = pd.DataFrame({'A': b3a, 'B': b3b})

print('b3a = \n', b3a)
print('b3b = \n', b3b)
print('b3 = \n', b3)

b3a =
1    1
3    3
4    5
dtype: int64

b3b =
1    2
4    4
6    6
dtype: int64

b3 =
     A    B
1  1.0  2.0
3  3.0  NaN
4  5.0  4.0
6  NaN  6.0

In [17]:
b4 = pd.DataFrame(np.zeros((4, 5)),
                  index=['a', 'b', 'c', 'd'],
                  columns=['A', 'B', 'C', 'D', 'E'])

print('b4 = \n', b4)

print('b4.C = \n', b4.C)
print("b4['C'] = \n", b4['C'])

b4 =
     A    B    C    D    E
a  0.0  0.0  0.0  0.0  0.0
b  0.0  0.0  0.0  0.0  0.0
c  0.0  0.0  0.0  0.0  0.0
d  0.0  0.0  0.0  0.0  0.0

b4.C =
a    0.0
b    0.0
c    0.0
d    0.0
Name: C, dtype: float64

b4['C'] =
a    0.0
b    0.0
c    0.0
d    0.0
Name: C, dtype: float64

In [18]:
b5n = np.ones(3, dtype=[('int', 'i8'), ('float', 'f8')])
b5 = pd.DataFrame(b5n)

print('b5 = \n', b5)

print("b5.loc[:1, 'float'] = \n", b5.loc[:1, :'float'])
print('b5.iloc[:1, :1] = \n', b5.iloc[:1, :1])

print('b5.values = \n', b5.values)

b5 =
   int  float
0    1    1.0
1    1    1.0
2    1    1.0

b5.loc[:1, 'float'] =
   int  float
0    1    1.0
1    1    1.0

b5.iloc[:1, :1] =
   int
0    1

b5.values =
[[1. 1.]
 [1. 1.]
 [1. 1.]]

In [19]:
c1 = pd.Index([1, 3, 5, 7, 9])

print('c1 = ', c1)
print('c1[:2]   = ', c1[:2])
print('c1.size  = ', c1.size)
print('c1.shape = ', c1.shape)
print('c1.ndim  = ', c1.ndim)
print('c1.dtype = ', c1.dtype)

c1 = Int64Index([1, 3, 5, 7, 9], dtype='int64')

c1[:2]   = Int64Index([1, 3], dtype='int64')

c1.size  = 5

c1.shape = (5,)

c1.ndim  = 1

c1.dtype = int64

In [20]:
c2 = pd.Index([1, 2, 3, 4, 5])

print('c1 = ', c1)
print('c2 = ', c2)

print('c1 & c2 = ', c1 & c2)
print('c1 | c2 = ', c1 | c2)
print('c1 ^ c2 = ', c1 ^ c2)

c1 = Int64Index([1, 3, 5, 7, 9], dtype='int64')

c2 = Int64Index([1, 2, 3, 4, 5], dtype='int64')

c1 & c2 = Int64Index([1, 3, 5], dtype='int64')

c1 | c2 = Int64Index([1, 2, 3, 4, 5, 7, 9], dtype='int64')

c1 ^ c2 = Int64Index([2, 4, 7, 9], dtype='int64')

# 运算和缺失值

In [21]:
d1 = pd.DataFrame(np.random.randint(10, size=(3, 6)),
                  columns=['A', 'B', 'C', 'D', 'E', 'F'])
d2 = np.square(d1)

print('d1 = \n', d1)
print('d2 = \n', d2)

d1 =
   A  B  C  D  E  F
0  6  0  0  8  4  4
1  5  0  5  8  7  7
2  1  7  0  9  8  3

d2 =
    A   B   C   D   E   F
0  36   0   0  64  16  16
1  25   0  25  64  49  49
2   1  49   0  81  64   9

In [22]:
d3 = pd.DataFrame(np.random.randint(10, size=4), index=[1, 2, 4, 5])
d4 = pd.DataFrame(np.random.randint(10, size=4), index=[1, 3, 4, 6])

print('d3 = \n', d3)
print('d4 = \n', d4)

print('d3 + d4 = \n', d3 + d4)
print('d3 + d4 = \n', d3.add(d4, fill_value=100))

d3 =
   0
1  0
2  7
4  2
5  8

d4 =
   0
1  2
3  7
4  8
6  0

d3 + d4 =
      0
1   2.0
2   NaN
3   NaN
4  10.0
5   NaN
6   NaN

d3 + d4 =
       0
1    2.0
2  107.0
3  107.0
4   10.0
5  108.0
6  100.0

In [23]:
d5 = pd.DataFrame(np.random.randint(10, size=(4, 3)), 
                  index=[1, 2, 4, 5], columns=['A', 'B', 'C'])
d6 = pd.DataFrame(np.random.randint(10, size=(4, 3)), 
                  index=[1, 3, 4, 2], columns=['B', 'C', 'D'])

print('d5 = \n', d5)
print('d6 = \n', d6)

print('d5 + d6 = \n', d5 + d6)
print('d5 + d6 = \n', d5.add(d6, fill_value=100))

d5 =
   A  B  C
1  3  1  4
2  6  9  3
4  8  0  0
5  5  1  7

d6 =
   B  C  D
1  9  8  1
3  6  8  2
4  7  0  2
2  6  2  5

d5 + d6 =
    A     B     C   D
1 NaN  10.0  12.0 NaN
2 NaN  15.0   5.0 NaN
3 NaN   NaN   NaN NaN
4 NaN   7.0   0.0 NaN
5 NaN   NaN   NaN NaN

d5 + d6 =
       A      B      C      D
1  103.0   10.0   12.0  101.0
2  106.0   15.0    5.0  105.0
3    NaN  106.0  108.0  102.0
4  108.0    7.0    0.0  102.0
5  105.0  101.0  107.0    NaN

In [24]:
d7n = np.random.randint(10, size=(4, 6))

print('d7n = \n', d7n)
print('d7n - d7n[0] = \n', d7n - d7n[0])

d7n =
[[0 8 6 9 5 4]
 [7 4 9 7 5 7]
 [6 1 7 8 7 1]
 [4 9 6 9 3 2]]

d7n - d7n[0] =
[[ 0  0  0  0  0  0]
 [ 7 -4  3 -2  0  3]
 [ 6 -7  1 -1  2 -3]
 [ 4  1  0  0 -2 -2]]

In [25]:
d7 = pd.DataFrame(d7n)

d8 = d7 - d7.iloc[0]
d9 = d7.subtract(d7[0], axis=0)

print('d7 = \n', d7)
print('d8 = \n', d8)
print('d9 = \n', d9)

d7 =
   0  1  2  3  4  5
0  0  8  6  9  5  4
1  7  4  9  7  5  7
2  6  1  7  8  7  1
3  4  9  6  9  3  2

d8 =
   0  1  2  3  4  5
0  0  0  0  0  0  0
1  7 -4  3 -2  0  3
2  6 -7  1 -1  2 -3
3  4  1  0  0 -2 -2

d9 =
   0  1  2  3  4  5
0  0  8  6  9  5  4
1  0 -3  2  0 -2  0
2  0 -5  1  2  1 -5
3  0  5  2  5 -1 -2

In [26]:
e1 = np.array([1, 2, 3, np.nan, 5])

print('e1 = ', e1)

print('np.max(e1) = ', np.max(e1))
print('np.min(e1) = ', np.min(e1))
print('np.sum(e1) = ', np.sum(e1))

print('np.nanmax(e1) = ', np.nanmax(e1))
print('np.nanmin(e1) = ', np.nanmin(e1))
print('np.nansum(e1) = ', np.nansum(e1))

e1 = [ 1.  2.  3. nan  5.]

np.max(e1) = nan

np.min(e1) = nan

np.sum(e1) = nan

np.nanmax(e1) = 5.0

np.nanmin(e1) = 1.0

np.nansum(e1) = 11.0

In [27]:
e2 = pd.Series([1, 'b', np.nan, 4, None])

print('e2 = \n', e2)

print('e2.isnull() = \n', e2.isnull())
print('e2.notnull() = \n', e2.notnull())
print('e2[e2.notnull()] = \n', e2[e2.notnull()])

e2 =
0       1
1       b
2     NaN
3       4
4    None
dtype: object

e2.isnull() =
0    False
1    False
2     True
3    False
4     True
dtype: bool

e2.notnull() =
0     True
1     True
2    False
3     True
4    False
dtype: bool

e2[e2.notnull()] =
0    1
1    b
3    4
dtype: object

In [28]:
e3n = np.array([[1, 2, 3, 4, 5],
                [2, np.nan, 6, np.nan, np.nan],
                [3, np.nan, 9, 12, 15],
                [4, np.nan, 12, 16, 20],
                [5, 10, np.nan, 20, np.nan]])
e3 = pd.DataFrame(e3n)

print('e3 = \n', e3)

print('e3.dropna() = \n', e3.dropna())
print('e3.dropna(axis=1, thresh=4) = \n', e3.dropna(axis=1, thresh=4))

print('e3.fillna(0) =\n', e3.fillna(0))
print("e3.fillna(method='ffill') = \n", e3.fillna(method='ffill'))
print("e3.fillna(method='bfill', axis=1) = \n", e3.fillna(method='bfill', axis=1))

e3 =
     0     1     2     3     4
0  1.0   2.0   3.0   4.0   5.0
1  2.0   NaN   6.0   NaN   NaN
2  3.0   NaN   9.0  12.0  15.0
3  4.0   NaN  12.0  16.0  20.0
4  5.0  10.0   NaN  20.0   NaN

e3.dropna() =
     0    1    2    3    4
0  1.0  2.0  3.0  4.0  5.0

e3.dropna(axis=1, thresh=4) =
     0     2     3
0  1.0   3.0   4.0
1  2.0   6.0   NaN
2  3.0   9.0  12.0
3  4.0  12.0  16.0
4  5.0   NaN  20.0

e3.fillna(0) =
     0     1     2     3     4
0  1.0   2.0   3.0   4.0   5.0
1  2.0   0.0   6.0   0.0   0.0
2  3.0   0.0   9.0  12.0  15.0
3  4.0   0.0  12.0  16.0  20.0
4  5.0  10.0   0.0  20.0   0.0

e3.fillna(method='ffill') =
     0     1     2     3     4
0  1.0   2.0   3.0   4.0   5.0
1  2.0   2.0   6.0   4.0   5.0
2  3.0   2.0   9.0  12.0  15.0
3  4.0   2.0  12.0  16.0  20.0
4  5.0  10.0  12.0  20.0  20.0

e3.fillna(method='bfill', axis=1) =
     0     1     2     3     4
0  1.0   2.0   3.0   4.0   5.0
1  2.0   6.0   6.0   NaN   NaN
2  3.0   9.0   9.0  12.0  15.0
3  4.0  12.0  12.0  16.0  20.0
4  5.0  10.0  20.0  20.0   NaN

# 多级索引

In [29]:
f1i = [(1, 'English'), (1, 'Spanish'),
       (2, 'English'), (2, 'Spanish'),
       (3, 'English'), (3, 'Spanish'),
       (4, 'English'), (4, 'Spanish')]
f1d = ['one', 'uno', 'two', 'dos', 'three', 'tres', 'four', 'cuatro']

f1 = pd.Series(f1d, index=f1i)

print('f1 = \n', f1)

print("f1[(1, 'Spanish')] = ", f1[(1, 'Spanish')])

print("f1[(1, 'English'):(2, 'English')] = \n", 
      f1[(1, 'English'):(2, 'English')])

f1 =
(1, English)       one
(1, Spanish)       uno
(2, English)       two
(2, Spanish)       dos
(3, English)     three
(3, Spanish)      tres
(4, English)      four
(4, Spanish)    cuatro
dtype: object

f1[(1, 'Spanish')] = uno

f1[(1, 'English'):(2, 'English')] =
(1, English)    one
(1, Spanish)    uno
(2, English)    two
dtype: object

In [30]:
f2m = pd.MultiIndex.from_tuples(f1i)
f2 = pd.Series(f1d, index=f2m)

print('f2m = \n', f2m)
print('f2 = \n', f2)

print("f2[2, 'English'] = ", f2[2, 'English'])

f2m =
MultiIndex([(1, 'English'),
            (1, 'Spanish'),
            (2, 'English'),
            (2, 'Spanish'),
            (3, 'English'),
            (3, 'Spanish'),
            (4, 'English'),
            (4, 'Spanish')],
           )

f2 =
1  English       one
   Spanish       uno
2  English       two
   Spanish       dos
3  English     three
   Spanish      tres
4  English      four
   Spanish    cuatro
dtype: object

f2[2, 'English'] = two

In [31]:
f3i = [[1, 1, 2, 2, 3, 3, 4, 4],
       ['English', 'Spanish', 'English', 'Spanish', 
        'English', 'Spanish', 'English', 'Spanish']]

f3 = pd.DataFrame(f1d, index=f3i, columns=['Translation'])
print('f3 = \n', f3)

f3 =
          Translation
1 English         one
  Spanish         uno
2 English         two
  Spanish         dos
3 English       three
  Spanish        tres
4 English        four
  Spanish      cuatro

In [32]:
f2d1 = f2.unstack()
f2d2 = f2.unstack(level=0)
f3s1 = f3.stack()

print('f2d1 = \n', f2d1)
print('f2d2 = \n', f2d2)
print('f3s1 = \n', f3s1)

f2d1 =
  English Spanish
1     one     uno
2     two     dos
3   three    tres
4    four  cuatro

f2d2 =
           1    2      3       4
English  one  two  three    four
Spanish  uno  dos   tres  cuatro

f3s1 =
1  English  Translation       one
   Spanish  Translation       uno
2  English  Translation       two
   Spanish  Translation       dos
3  English  Translation     three
   Spanish  Translation      tres
4  English  Translation      four
   Spanish  Translation    cuatro
dtype: object

In [33]:
f2r1 = f2.reset_index()
f2r3 = f2.reset_index(drop=True)

f2r2 = f2r1.set_index(['level_0'])

print('f2r1 = \n', f2r1)
print('f2r2 = \n', f2r2)
print('f2r3 = \n', f2r3)

f2r1 =
   level_0  level_1       0
0        1  English     one
1        1  Spanish     uno
2        2  English     two
3        2  Spanish     dos
4        3  English   three
5        3  Spanish    tres
6        4  English    four
7        4  Spanish  cuatro

f2r2 =
         level_1       0
level_0
1        English     one
1        Spanish     uno
2        English     two
2        Spanish     dos
3        English   three
3        Spanish    tres
4        English    four
4        Spanish  cuatro

f2r3 =
0       one
1       uno
2       two
3       dos
4     three
5      tres
6      four
7    cuatro
dtype: object

In [34]:
f4m1 = pd.MultiIndex.from_arrays([list('AAABBBCCC'), 
                                 [1, 2, 3, 1, 2, 3, 1, 2, 3]])
f4m2 = pd.MultiIndex.from_tuples([('A', 1), ('A', 2), ('A', 3),
                                  ('B', 1), ('B', 2), ('B', 3),
                                  ('C', 1), ('C', 2), ('C', 3),])
f4m3 = pd.MultiIndex.from_product([['A', 'B', 'C'], [1, 2, 3]])

f4m3.names = ['3-1', '3-2']

print('f4m1 = \n', f4m1)
print('f4m2 = \n', f4m2)
print('f4m3 = \n', f4m3)

f4m1 =
MultiIndex([('A', 1),
            ('A', 2),
            ('A', 3),
            ('B', 1),
            ('B', 2),
            ('B', 3),
            ('C', 1),
            ('C', 2),
            ('C', 3)],
           )

f4m2 =
MultiIndex([('A', 1),
            ('A', 2),
            ('A', 3),
            ('B', 1),
            ('B', 2),
            ('B', 3),
            ('C', 1),
            ('C', 2),
            ('C', 3)],
           )

f4m3 =
MultiIndex([('A', 1),
            ('A', 2),
            ('A', 3),
            ('B', 1),
            ('B', 2),
            ('B', 3),
            ('C', 1),
            ('C', 2),
            ('C', 3)],
           names=['3-1', '3-2'])

In [35]:
f4r = pd.MultiIndex.from_product([['I', 'II', 'III'], ['i', 'ii']])
f4c = pd.MultiIndex.from_product([['A', 'B', 'C'], ['a', 'b', 'c']])

f4d = np.arange(1, 55).reshape(6, 9)

f4 = pd.DataFrame(f4d, index=f4r, columns=f4c)
print('f4 = \n', f4)

print("f4['B'] = \n", f4['B'])
print("f4['B', 'b'] = \n", f4['B', 'b'])
print("f4['B', 'b']['I', 'i'] = ", f4['B', 'b']['I', 'i'])

print("f4.loc[pd.IndexSlice[:, 'ii'],\n"
      "       pd.IndexSlice['B', :]] = \n", 
      f4.loc[pd.IndexSlice[:, 'ii'], pd.IndexSlice['B', :]])

f4 =
         A           B           C
         a   b   c   a   b   c   a   b   c
I   i    1   2   3   4   5   6   7   8   9
    ii  10  11  12  13  14  15  16  17  18
II  i   19  20  21  22  23  24  25  26  27
    ii  28  29  30  31  32  33  34  35  36
III i   37  38  39  40  41  42  43  44  45
    ii  46  47  48  49  50  51  52  53  54

f4['B'] =
         a   b   c
I   i    4   5   6
    ii  13  14  15
II  i   22  23  24
    ii  31  32  33
III i   40  41  42
    ii  49  50  51

f4['B', 'b'] =
I    i      5
     ii    14
II   i     23
     ii    32
III  i     41
     ii    50
Name: (B, b), dtype: int64

f4['B', 'b']['I', 'i'] = 5

f4.loc[pd.IndexSlice[:, 'ii'],
       pd.IndexSlice['B', :]] =
         B
         a   b   c
I   ii  13  14  15
II  ii  31  32  33
III ii  49  50  51

In [36]:
f5d = np.arange(11, 100, 11)
f5m = pd.MultiIndex.from_product([['A', 'B', 'C'], [1, 2, 3]])

f5 = pd.Series(f5d, index=f5m)
print('f5 = \n', f5)

print('f5[f5 < 50] = \n', f5[f5 < 50])
print("f5[['A', 'C']].loc[:, 2] = \n", f5[['A', 'C']].loc[:, 2])

f5 =
A  1    11
   2    22
   3    33
B  1    44
   2    55
   3    66
C  1    77
   2    88
   3    99
dtype: int64

f5[f5 < 50] =
A  1    11
   2    22
   3    33
B  1    44
dtype: int64

f5[['A', 'C']].loc[:, 2] =
A    22
C    88
dtype: int64

In [37]:
f6i = [[4, 4, 1, 1, 3, 3, 2, 2],
       ['B', 'A', 'B', 'A', 'B', 'A', 'B', 'A']]

f6 = pd.DataFrame(f1d, index=f6i, columns=['demo'])
print('f6 = \n', f6)

f7 = f6.sort_index()
print('f7 = \n', f7)

f6 =
       demo
4 B     one
  A     uno
1 B     two
  A     dos
3 B   three
  A    tres
2 B    four
  A  cuatro

f7 =
       demo
1 A     dos
  B     two
2 A  cuatro
  B    four
3 A    tres
  B   three
4 A     uno
  B     one

In [38]:
f8r = pd.MultiIndex.from_product([['I', 'II', 'III'], ['i', 'ii']],
                                 names=['Row_1', 'Row_2'])
f8c = pd.MultiIndex.from_product([['A', 'B', 'C'], ['a', 'b', 'c']],
                                 names=['Col_1', 'Col_2'])
f8d = np.arange(1, 55).reshape(6, 9)

f8 = pd.DataFrame(f8d, index=f8r, columns=f8c)
print('f8 = \n', f8)

print("f8.sum() = \n", f8.sum())
print("f8.sum(level='Row_1') = \n", f8.sum(level='Row_1'))
print("f8.sum(level='Row_2') = \n", f8.sum(level='Row_2'))
print("f8.sum(level='Col_1', axis=1) = \n", f8.sum(level='Col_1', axis=1))
print("f8.sum(level='Col_2', axis=1) = \n", f8.sum(level='Col_2', axis=1))

f8 =
Col_1         A           B           C
Col_2         a   b   c   a   b   c   a   b   c
Row_1 Row_2
I     i       1   2   3   4   5   6   7   8   9
      ii     10  11  12  13  14  15  16  17  18
II    i      19  20  21  22  23  24  25  26  27
      ii     28  29  30  31  32  33  34  35  36
III   i      37  38  39  40  41  42  43  44  45
      ii     46  47  48  49  50  51  52  53  54

f8.sum() =
Col_1  Col_2
A      a        141
       b        147
       c        153
B      a        159
       b        165
       c        171
C      a        177
       b        183
       c        189
dtype: int64

f8.sum(level='Row_1') =
Col_1   A           B           C
Col_2   a   b   c   a   b   c   a   b   c
Row_1
I      11  13  15  17  19  21  23  25  27
II     47  49  51  53  55  57  59  61  63
III    83  85  87  89  91  93  95  97  99

f8.sum(level='Row_2') =
Col_1   A           B            C
Col_2   a   b   c   a   b   c    a    b    c
Row_2
i      57  60  63  66  69  72   75   78   81
ii     84  87  90  93  96  99  102  105  108

f8.sum(level='Col_1', axis=1) =
Col_1          A    B    C
Row_1 Row_2
I     i        6   15   24
      ii      33   42   51
II    i       60   69   78
      ii      87   96  105
III   i      114  123  132
      ii     141  150  159

f8.sum(level='Col_2', axis=1) =
Col_2          a    b    c
Row_1 Row_2
I     i       12   15   18
      ii      39   42   45
II    i       66   69   72
      ii      93   96   99
III   i      120  123  126
      ii     147  150  153

# 数据合并

In [0]:
def df(column, index):
    data = {c:[f'{c}{r}' for r in index] for c in column}
    return pd.DataFrame(data, index)

In [40]:
g1a = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])
g1b = pd.Series(['D', 'E', 'F'], index=[4, 5, 6])

g1 = pd.concat([g1a, g1b])

print('g1a = \n', g1a)
print('g1b = \n', g1b)
print('g1 = \n', g1)

g1a =
1    A
2    B
3    C
dtype: object

g1b =
4    D
5    E
6    F
dtype: object

g1 =
1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

In [41]:
g2a = df('ABC', [1, 2, 3])
g2b = df('BCD', [3, 4, 5])

g2c = pd.concat([g2a, g2b], sort=False)
g2d = pd.concat([g2a, g2b], sort=False, axis=1)

print('g2a = \n', g2a)
print('g2b = \n', g2b)
print('g2c = \n', g2c)
print('g2d = \n', g2d)

g2a =
    A   B   C
1  A1  B1  C1
2  A2  B2  C2
3  A3  B3  C3

g2b =
    B   C   D
3  B3  C3  D3
4  B4  C4  D4
5  B5  C5  D5

g2c =
     A   B   C    D
1   A1  B1  C1  NaN
2   A2  B2  C2  NaN
3   A3  B3  C3  NaN
3  NaN  B3  C3   D3
4  NaN  B4  C4   D4
5  NaN  B5  C5   D5

g2d =
     A    B    C    B    C    D
1   A1   B1   C1  NaN  NaN  NaN
2   A2   B2   C2  NaN  NaN  NaN
3   A3   B3   C3   B3   C3   D3
4  NaN  NaN  NaN   B4   C4   D4
5  NaN  NaN  NaN   B5   C5   D5

In [42]:
try:
    g2d = pd.concat([g2a, g2b], sort=False, axis=1, verify_integrity=True)
except ValueError as err:
    print(err)

g2e = pd.concat([g2a, g2b], sort=False, axis=1, ignore_index=True)
g2f = pd.concat([g2a, g2b], sort=False, axis=1, keys=['g2a_part', 'g2b_part'])

print('g2e = \n', g2e)
print('g2f = \n', g2f)

Indexes have overlapping values: Index(['B', 'C'], dtype='object')

g2e =
     0    1    2    3    4    5
1   A1   B1   C1  NaN  NaN  NaN
2   A2   B2   C2  NaN  NaN  NaN
3   A3   B3   C3   B3   C3   D3
4  NaN  NaN  NaN   B4   C4   D4
5  NaN  NaN  NaN   B5   C5   D5

g2f =
  g2a_part           g2b_part
         A    B    C        B    C    D
1       A1   B1   C1      NaN  NaN  NaN
2       A2   B2   C2      NaN  NaN  NaN
3       A3   B3   C3       B3   C3   D3
4      NaN  NaN  NaN       B4   C4   D4
5      NaN  NaN  NaN       B5   C5   D5

In [43]:
g2g = pd.concat([g2a, g2b], join='inner')
g2h = pd.concat([g2a, g2b.reindex(columns=g2a.columns)])

g2i = g2a.append(g2b, sort=False)

print('g2c = \n', g2c)
print('g2g = \n', g2g)
print('g2h = \n', g2h)
print('g2i = \n', g2i)

g2c =
     A   B   C    D
1   A1  B1  C1  NaN
2   A2  B2  C2  NaN
3   A3  B3  C3  NaN
3  NaN  B3  C3   D3
4  NaN  B4  C4   D4
5  NaN  B5  C5   D5

g2g =
    B   C
1  B1  C1
2  B2  C2
3  B3  C3
3  B3  C3
4  B4  C4
5  B5  C5

g2h =
     A   B   C
1   A1  B1  C1
2   A2  B2  C2
3   A3  B3  C3
3  NaN  B3  C3
4  NaN  B4  C4
5  NaN  B5  C5

g2i =
     A   B   C    D
1   A1  B1  C1  NaN
2   A2  B2  C2  NaN
3   A3  B3  C3  NaN
3  NaN  B3  C3   D3
4  NaN  B4  C4   D4
5  NaN  B5  C5   D5

In [44]:
h1a = pd.DataFrame({'name': ['Alex', 'Bill', 'Cruz', 'Dean'],
                    'group': ['I', 'II', 'III', 'II']})
h1b = pd.DataFrame({'name': ['Alex', 'Bill', 'Cruz', 'Dean'],
                    'score': [66, 77, 88, 99]})
h1c = pd.DataFrame({'group': ['I', 'II', 'III'],
                    'leader': ['Liam', 'Max', 'Hank']})
h1d = pd.DataFrame({'group': ['I', 'I', 'II', 'II', 'II', 'III', 'III'],
                    'subject': ['1.001', '1.003', '2.001', '2.002', '2.016', '3.002', '3.008']})

print('h1a = \n', h1a)
print('h1b = \n', h1b)
print('h1c = \n', h1c)
print('h1d = \n', h1d)

h1a =
   name group
0  Alex     I
1  Bill    II
2  Cruz   III
3  Dean    II

h1b =
   name  score
0  Alex     66
1  Bill     77
2  Cruz     88
3  Dean     99

h1c =
  group leader
0     I   Liam
1    II    Max
2   III   Hank

h1d =
  group subject
0     I   1.001
1     I   1.003
2    II   2.001
3    II   2.002
4    II   2.016
5   III   3.002
6   III   3.008

In [45]:
h2a = pd.merge(h1a, h1b)
h2b = pd.merge(h1a, h1c)
h2c = pd.merge(h1a, h1d)

print('h2a = \n', h2a)
print('h2b = \n', h2b)
print('h2c = \n', h2c)

h2a =
   name group  score
0  Alex     I     66
1  Bill    II     77
2  Cruz   III     88
3  Dean    II     99

h2b =
   name group leader
0  Alex     I   Liam
1  Bill    II    Max
2  Dean    II    Max
3  Cruz   III   Hank

h2c =
   name group subject
0  Alex     I   1.001
1  Alex     I   1.003
2  Bill    II   2.001
3  Bill    II   2.002
4  Bill    II   2.016
5  Dean    II   2.001
6  Dean    II   2.002
7  Dean    II   2.016
8  Cruz   III   3.002
9  Cruz   III   3.008

In [46]:
h3a = pd.merge(h2a, h2c, on='name')
h3b = pd.merge(h2a, h2c, on='group')

print('h3a = \n', h3a)
print('h3b = \n', h3b)

h3a =
   name group_x  score group_y subject
0  Alex       I     66       I   1.001
1  Alex       I     66       I   1.003
2  Bill      II     77      II   2.001
3  Bill      II     77      II   2.002
4  Bill      II     77      II   2.016
5  Cruz     III     88     III   3.002
6  Cruz     III     88     III   3.008
7  Dean      II     99      II   2.001
8  Dean      II     99      II   2.002
9  Dean      II     99      II   2.016

h3b =
   name_x group  score name_y subject
0    Alex     I     66   Alex   1.001
1    Alex     I     66   Alex   1.003
2    Bill    II     77   Bill   2.001
3    Bill    II     77   Bill   2.002
4    Bill    II     77   Bill   2.016
5    Bill    II     77   Dean   2.001
6    Bill    II     77   Dean   2.002
7    Bill    II     77   Dean   2.016
8    Dean    II     99   Bill   2.001
9    Dean    II     99   Bill   2.002
10   Dean    II     99   Bill   2.016
11   Dean    II     99   Dean   2.001
12   Dean    II     99   Dean   2.002
13   Dean    II     99   Dean   2.016
14   Cruz   III     88   Cruz   3.002
15   Cruz   III     88   Cruz   3.008

In [47]:
h4a = pd.DataFrame({'name': ['Alex', 'Bill', 'Cruz', 'Dean'],
                    'group': ['I', 'II', 'III', 'II']})
h4b = pd.DataFrame({'names': ['Alex', 'Dean', 'Bill', 'Cruz'],
                    'score': [66, 77, 88, 99]})

h4 = pd.merge(h4a, h4b, left_index=True, right_index=True)
h5 = pd.merge(h4a, h4b, left_on='name', right_on='names')

print('h4a = \n', h4a)
print('h4b = \n', h4b)

print('h4 = \n', h4)
print('h5 = \n', h5)
print("h5.drop('names', axis=1) = \n", h5.drop('names', axis=1))

h4a =
   name group
0  Alex     I
1  Bill    II
2  Cruz   III
3  Dean    II

h4b =
  names  score
0  Alex     66
1  Dean     77
2  Bill     88
3  Cruz     99

h4 =
   name group names  score
0  Alex     I  Alex     66
1  Bill    II  Dean     77
2  Cruz   III  Bill     88
3  Dean    II  Cruz     99

h5 =
   name group names  score
0  Alex     I  Alex     66
1  Bill    II  Bill     88
2  Cruz   III  Cruz     99
3  Dean    II  Dean     77

h5.drop('names', axis=1) =
   name group  score
0  Alex     I     66
1  Bill    II     88
2  Cruz   III     99
3  Dean    II     77

In [48]:
h6a = pd.DataFrame({'name': ['Alex', 'Bill', 'Cruz', 'Dean', 'Eric'],
                    'age': [21, 19, 18, 22, 19]})
h6b = pd.DataFrame({'name': ['Cruz', 'Dean', 'Eric', 'Ford', 'Grey'],
                    'grade': ['A', 'C', 'A', 'A', 'B']})

h6 = pd.merge(h6a, h6b)
h7a = pd.merge(h6a, h6b, how='inner')
h7b = pd.merge(h6a, h6b, how='outer')
h7c = pd.merge(h6a, h6b, how='left')
h7d = pd.merge(h6a, h6b, how='right')

print('h6a = \n', h6a)
print('h6b = \n', h6b)
print('h6 = \n', h6)

print('h7a = \n', h7a)
print('h7b = \n', h7b)
print('h7c = \n', h7c)
print('h7d = \n', h7d)

h6a =
   name  age
0  Alex   21
1  Bill   19
2  Cruz   18
3  Dean   22
4  Eric   19

h6b =
   name grade
0  Cruz     A
1  Dean     C
2  Eric     A
3  Ford     A
4  Grey     B

h6 =
   name  age grade
0  Cruz   18     A
1  Dean   22     C
2  Eric   19     A

h7a =
   name  age grade
0  Cruz   18     A
1  Dean   22     C
2  Eric   19     A

h7b =
   name   age grade
0  Alex  21.0   NaN
1  Bill  19.0   NaN
2  Cruz  18.0     A
3  Dean  22.0     C
4  Eric  19.0     A
5  Ford   NaN     A
6  Grey   NaN     B

h7c =
   name  age grade
0  Alex   21   NaN
1  Bill   19   NaN
2  Cruz   18     A
3  Dean   22     C
4  Eric   19     A

h7d =
   name   age grade
0  Cruz  18.0     A
1  Dean  22.0     C
2  Eric  19.0     A
3  Ford   NaN     A
4  Grey   NaN     B

In [49]:
h8a = pd.DataFrame({'name': ['Alex', 'Bill', 'Cruz', 'Dean', 'Eric'],
                    'score': [99, 84, 95, 77, 91]})
h8b = pd.DataFrame({'name': ['Cruz', 'Dean', 'Eric', 'Ford', 'Grey'],
                    'score': [88, 65, 95, 79, 83]})

h8c = pd.merge(h8a, h8b, on='name')
h8d = pd.merge(h8a, h8b, on='name', suffixes=['_midterm', '_final'])

print('h8a = \n', h8a)
print('h8b = \n', h8b)

print('h8c = \n', h8c)
print('h8d = \n', h8d)

h8a =
   name  score
0  Alex     99
1  Bill     84
2  Cruz     95
3  Dean     77
4  Eric     91

h8b =
   name  score
0  Cruz     88
1  Dean     65
2  Eric     95
3  Ford     79
4  Grey     83

h8c =
   name  score_x  score_y
0  Cruz       95       88
1  Dean       77       65
2  Eric       91       95

h8d =
   name  score_midterm  score_final
0  Cruz             95           88
1  Dean             77           65
2  Eric             91           95

# 累计和分组

In [50]:
i = sns.load_dataset('planets')

print(i.shape, '\n', i.head())

(1035, 6)
            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [51]:
i1a = i.describe()
i1b = i.dropna().describe()

print(i1a)
print(i1b)

            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

In [52]:
i2d = pd.DataFrame({'name': ['Alex', 'Bill', 'Cruz', 'Alex', 'Bill', 'Cruz'],
                    'score': [99, 84, 95, 94, 77, 91]})

i2 = i2d.groupby('name').mean()

print('i2d = \n', i2d)
print('i2 = \n', i2)

i2d =
   name  score
0  Alex     99
1  Bill     84
2  Cruz     95
3  Alex     94
4  Bill     77
5  Cruz     91

i2 =
      score
name
Alex   96.5
Bill   80.5
Cruz   93.0

In [53]:
print(i.groupby('mass'))
print(i.groupby('mass')['year'])
print(i.groupby('mass').mean())
print(i.groupby('method')['distance'].median())

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fd4326eb9b0>

<pandas.core.groupby.generic.SeriesGroupBy object at 0x7fd433798898>

          number  orbital_period  distance    year
mass
0.00360      1.0         3.23570      1.35  2012.0
0.00600      4.0         3.14942      6.27  2005.0
0.00755      3.0        40.11400      6.06  2011.0
0.00800      6.0        50.63300      6.80  2013.0
0.00850      3.0        18.31500      6.06  2011.0
...          ...             ...       ...     ...
19.40000     1.0       326.03000    110.62  2007.0
19.80000     1.0       677.80000       NaN  2007.0
20.60000     1.0       305.50000     92.51  2013.0
21.42000     2.0       379.63000       NaN  2009.0
25.00000     1.0      2371.00000     37.05  2008.0

[381 rows x 4 columns]

method
Astrometry                         17.875
Eclipse Timing Variations         315.360
Imaging                            40.395
Microlensing                     3840.000
Orbital Brightness Modulation    1180.000
Pulsar Timing                    1200.000
Pulsation Timing Variations           NaN
Radial Velocity                    40.445
Transit                           341.000
Transit Timing Variations         855.000
Name: distance, dtype: float64

In [54]:
for (method, group) in i.groupby('method'):
    __builtin__.print(method, group.shape)

Astrometry (2, 6)
Eclipse Timing Variations (9, 6)
Imaging (38, 6)
Microlensing (23, 6)
Orbital Brightness Modulation (3, 6)
Pulsar Timing (5, 6)
Pulsation Timing Variations (1, 6)
Radial Velocity (553, 6)
Transit (397, 6)
Transit Timing Variations (4, 6)

In [55]:
i3 = i.groupby('method')['year'].describe().unstack()

print(i3)

       method
count  Astrometry                          2.0
       Eclipse Timing Variations           9.0
       Imaging                            38.0
       Microlensing                       23.0
       Orbital Brightness Modulation       3.0
                                         ...
max    Pulsar Timing                    2011.0
       Pulsation Timing Variations      2007.0
       Radial Velocity                  2014.0
       Transit                          2014.0
       Transit Timing Variations        2014.0
Length: 80, dtype: float64

In [56]:
j1 = pd.DataFrame({'key': list('ABCABC'),
                   'x': range(1, 7),
                   'y': [9, 2, 6, 8, 7, 4]})

j1a = j1.groupby('key').aggregate(['min', np.median, np.max])
j1b = j1.groupby('key').aggregate({'x': ['min', np.median], 'y':'max'})

print('j1 = \n', j1)
print('j1a = \n', j1a)
print('j1b = \n', j1b)

j1 =
  key  x  y
0   A  1  9
1   B  2  2
2   C  3  6
3   A  4  8
4   B  5  7
5   C  6  4

j1a =
      x               y
    min median amax min median amax
key
A     1    2.5    4   8    8.5    9
B     2    3.5    5   2    4.5    7
C     3    4.5    6   4    5.0    6

j1b =
      x          y
    min median max
key
A     1    2.5   9
B     2    3.5   7
C     3    4.5   6

In [57]:
j2s = j1.groupby('key').std()
j2 = j1.groupby('key').filter(lambda z: z['y'].std() < 1.5)

print('j1 = \n', j1)
print('j2s = \n', j2s)
print('j2 = \n', j2)

j1 =
  key  x  y
0   A  1  9
1   B  2  2
2   C  3  6
3   A  4  8
4   B  5  7
5   C  6  4

j2s =
           x         y
key
A    2.12132  0.707107
B    2.12132  3.535534
C    2.12132  1.414214

j2 =
  key  x  y
0   A  1  9
2   C  3  6
3   A  4  8
5   C  6  4

In [58]:
j3 = j1.groupby('key').transform(lambda z: z - z.mean())

print('j1 = \n', j1)
print('j3 = \n', j3)

j1 =
  key  x  y
0   A  1  9
1   B  2  2
2   C  3  6
3   A  4  8
4   B  5  7
5   C  6  4

j3 =
     x    y
0 -1.5  0.5
1 -1.5 -2.5
2 -1.5  1.0
3  1.5 -0.5
4  1.5  2.5
5  1.5 -1.0

In [59]:
def normalize_y(z):
    z['y'] = z['y'] / z['y'].sum()
    return z

j4 = j1.groupby('key').apply(normalize_y)

print('j1 = \n', j1)
print('j4 = \n', j4)

j1 =
  key  x  y
0   A  1  9
1   B  2  2
2   C  3  6
3   A  4  8
4   B  5  7
5   C  6  4

j4 =
  key  x         y
0   A  1  0.529412
1   B  2  0.222222
2   C  3  0.600000
3   A  4  0.470588
4   B  5  0.777778
5   C  6  0.400000

In [60]:
j5l = [0, 2, 1, 1, 0, 1]
j5m = {'A': 'alpha', 'B': 'bravo', 'C': 'charlie'}

j5a = j1.groupby(j5l).sum()
j5b = j1.groupby(j1['key']).sum()

j5c = j1.set_index('key').groupby(j5m).sum()
j5d = j1.set_index('key').groupby(str.lower).sum()
j5e = j1.set_index('key').groupby([str.lower, j5m]).sum()

print('j1 = \n', j1)
print('j5a = \n', j5a)
print('j5b = \n', j5b)
print('j5c = \n', j5c)
print('j5d = \n', j5d)
print('j5e = \n', j5e)

j1 =
  key  x  y
0   A  1  9
1   B  2  2
2   C  3  6
3   A  4  8
4   B  5  7
5   C  6  4

j5a =
    x   y
0   6  16
1  13  18
2   2   2

j5b =
     x   y
key
A    5  17
B    7   9
C    9  10

j5c =
         x   y
alpha    5  17
bravo    7   9
charlie  9  10

j5d =
   x   y
a  5  17
b  7   9
c  9  10

j5e =
           x   y
a alpha    5  17
b bravo    7   9
c charlie  9  10

# 透视表 字符串向量化 时间序列

In [61]:
k = sns.load_dataset('titanic')

print(k.shape, '\n', k.head())

(891, 15)
   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

In [62]:
k1 = k.groupby('sex')[['survived']].mean()
k2 = k.groupby(['sex', 'class'])['survived'].aggregate('mean').unstack()

print('k1 = \n', k1)
print('k2 = \n', k2)

k1 =
        survived
sex
female  0.742038
male    0.188908

k2 =
class      First    Second     Third
sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

In [63]:
k3 = k.pivot_table('survived', index='sex', columns='class')

k4c = pd.cut(k['age'], [0, 18, 48, 80])
k4 = k.pivot_table('survived', index=['sex', k4c], columns='class')

k5c = pd.qcut(k['age'], 3)
k5 = k.pivot_table('survived', index=['sex', k5c], columns=['class', 'alone'])

print('k3 = \n', k3)
print('k4 = \n', k4)
print('k5 = \n', k5)

k3 =
class      First    Second     Third
sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

k4 =
class               First    Second     Third
sex    age
female (0, 18]   0.909091  1.000000  0.511628
       (18, 48]  0.982456  0.907407  0.413793
       (48, 80]  0.941176  0.833333  1.000000
male   (0, 18]   0.800000  0.600000  0.215686
       (18, 48]  0.437500  0.070423  0.141361
       (48, 80]  0.250000  0.076923  0.000000

k5 =
class                    First            ...     Third
alone                    False     True   ...     False     True
sex    age                                ...
female (0.419, 23.0]  0.944444  1.000000  ...  0.428571  0.625000
       (23.0, 34.0]   0.833333  1.000000  ...  0.500000  0.454545
       (34.0, 80.0]   1.000000  0.933333  ...  0.230769  0.333333
male   (0.419, 23.0]  0.555556  0.000000  ...  0.282051  0.088235
       (23.0, 34.0]   0.444444  0.538462  ...  0.058824  0.226667
       (34.0, 80.0]   0.379310  0.325000  ...  0.000000  0.068182

[6 rows x 6 columns]

In [64]:
k6 = pd.Series(['ALPHA', 'BRAVO', None, 'DELTA', 'ECHO', 'FOXTROT'])

print('k6 = \n', k6)
print('k6.str.lower() = \n', k6.str.lower())

k6 =
0      ALPHA
1      BRAVO
2       None
3      DELTA
4       ECHO
5    FOXTROT
dtype: object

k6.str.lower() =
0      alpha
1      bravo
2       None
3      delta
4       echo
5    foxtrot
dtype: object

In [65]:
k6a = k6.str.contains('E[A-z]')
k6b = k6.str.match('E[A-z]')
k6c = k6.str.extract('([N, T, H].)')

print("k6a = \n", k6a)
print("k6b = \n", k6b)
print("k6c = \n", k6c)

k6a =
0    False
1    False
2     None
3     True
4     True
5    False
dtype: object

k6b =
0    False
1    False
2     None
3    False
4     True
5    False
dtype: object

k6c =
     0
0   HA
1  NaN
2  NaN
3   TA
4   HO
5   TR

In [66]:
k7a = k6.str.slice(1, 3)
k7b = k6.str.slice(3)
k7c = k6.str.split('O').str.get(-1)
k7d = k6.str.cat(k7a)

print('k7a = \n', k7a)
print('k7b = \n', k7b)
print('k7c = \n', k7c)
print('k7d = \n', k7d)

k7a =
0      LP
1      RA
2    None
3      EL
4      CH
5      OX
dtype: object

k7b =
0      HA
1      VO
2    None
3      TA
4       O
5    TROT
dtype: object

k7c =
0    ALPHA
1
2     None
3    DELTA
4
5        T
dtype: object

k7d =
0      ALPHALP
1      BRAVORA
2          NaN
3      DELTAEL
4       ECHOCH
5    FOXTROTOX
dtype: object

In [67]:
k8 = pd.DataFrame({'x': k6, 'y': ['A|B|C|F', 'B|D', 'C', 'A|D|F', 'E|F', 'B|C|F']})
k8d = k8['y'].str.get_dummies('|')

print('k8 = \n', k8)
print('k8d = \n', k8d)

k8 =
         x        y
0    ALPHA  A|B|C|F
1    BRAVO      B|D
2     None        C
3    DELTA    A|D|F
4     ECHO      E|F
5  FOXTROT    B|C|F

k8d =
   A  B  C  D  E  F
0  1  1  1  0  0  1
1  0  1  0  1  0  0
2  0  0  1  0  0  0
3  1  0  0  1  0  1
4  0  0  0  0  1  1
5  0  1  1  0  0  1

In [68]:
l1 = np.array('2020-01-31', dtype=np.datetime64)
l2 = np.datetime64('2020-02-09 04:26:27.28', 'ns')

print('l1 = ', l1)
print('l2 = ', l2)
print('l1 + np.arange(10) = \n', l1 + np.arange(10))

l1 = 2020-01-31

l2 = 2020-02-09T04:26:27.280000000

l1 + np.arange(10) =
['2020-01-31' '2020-02-01' '2020-02-02' '2020-02-03' '2020-02-04'
 '2020-02-05' '2020-02-06' '2020-02-07' '2020-02-08' '2020-02-09']

In [69]:
l3 = pd.to_datetime('Feb 9, 2020')
l4i = l3 + pd.to_timedelta(np.arange(8), 'W')
l4 = pd.Series(['Feb Week 2', 'Feb Week 3', 'Feb Week 4', 
                'Mar Week 1', 'Mar Week 2', 'Mar Week 3',
                'Mar Week 4', 'Mar Week 5'], index=l4i)

print(l3, l3.strftime(' (%A)'))
print('l4i = \n', l4i)
print('l4 = \n', l4)
print("l4['2020-2'] = \n", l4['2020-2'])
print("l4['2020-3-1':'2020-3-15'] = \n", l4['2020-3-1':'2020-3-15'])

2020-02-09 00:00:00 (Sunday)

l4i =
DatetimeIndex(['2020-02-09', '2020-02-16', '2020-02-23', '2020-03-01',
               '2020-03-08', '2020-03-15', '2020-03-22', '2020-03-29'],
              dtype='datetime64[ns]', freq=None)

l4 =
2020-02-09    Feb Week 2
2020-02-16    Feb Week 3
2020-02-23    Feb Week 4
2020-03-01    Mar Week 1
2020-03-08    Mar Week 2
2020-03-15    Mar Week 3
2020-03-22    Mar Week 4
2020-03-29    Mar Week 5
dtype: object

l4['2020-2'] =
2020-02-09    Feb Week 2
2020-02-16    Feb Week 3
2020-02-23    Feb Week 4
dtype: object

l4['2020-3-1':'2020-3-15'] =
2020-03-01    Mar Week 1
2020-03-08    Mar Week 2
2020-03-15    Mar Week 3
dtype: object

In [70]:
l5a = pd.to_datetime([datetime.datetime(2008, 8, 8), '1st of January, 2020',
                      '20200202', '2011-11-11', '2 Sep 2019', '9 2 2022',
                      'Dec 31 1999', 'January 1 2000'])
l5b = l4.to_period('D')
l5c = l5a - l1


print('l5a = \n', l5a)
print('l5b = \n', l5b)
print('l5c = \n', l5c)

l5a =
DatetimeIndex(['2008-08-08', '2020-01-01', '2020-02-02', '2011-11-11',
               '2019-09-02', '2022-09-02', '1999-12-31', '2000-01-01'],
              dtype='datetime64[ns]', freq=None)

l5b =
2020-02-09    Feb Week 2
2020-02-16    Feb Week 3
2020-02-23    Feb Week 4
2020-03-01    Mar Week 1
2020-03-08    Mar Week 2
2020-03-15    Mar Week 3
2020-03-22    Mar Week 4
2020-03-29    Mar Week 5
Freq: D, dtype: object

l5c =
TimedeltaIndex(['-4193 days',   '-30 days',     '2 days', '-3003 days',
                 '-151 days',   '945 days', '-7336 days', '-7335 days'],
               dtype='timedelta64[ns]', freq=None)

In [71]:
l6a = pd.date_range('20190901', '20200111', periods=4)
l6b = pd.date_range('2019-12-12', '2020-8-8', freq='M')
l6c = pd.period_range('1999-9-9', periods=5, freq='Y')
l6d = pd.timedelta_range(0, periods=3, freq='H')

print('l6a = ', l6a)
print('l6b = ', l6b)
print('l6c = ', l6c)
print('l6d = ', l6d)

l6a = DatetimeIndex(['2019-09-01', '2019-10-15', '2019-11-28', '2020-01-11'], dtype='datetime64[ns]', freq=None)

l6b = DatetimeIndex(['2019-12-31', '2020-01-31', '2020-02-29', '2020-03-31',
               '2020-04-30', '2020-05-31', '2020-06-30', '2020-07-31'],
              dtype='datetime64[ns]', freq='M')

l6c = PeriodIndex(['1999', '2000', '2001', '2002', '2003'], dtype='period[A-DEC]', freq='A-DEC')

l6d = TimedeltaIndex(['00:00:00', '01:00:00', '02:00:00'], dtype='timedelta64[ns]', freq='H')